<div class="content py-5 px-4 px-md-5 responsive-width mx-auto">
  <div class="d-flex flex-column gap-2">
    <img src="assets/images/hippo-logo.png" width="264" class="mx-auto img-fluid">
    <p>
      Hippotherapie is een <span class="text-warning-drk">ervaringsgerichte therapievorm</span> waarbij het paard
      wordt ingezet om de ontwikkeling van het kind te ondersteunen. Het gaat
      hierbij niet om leren paardrijden, maar om wat er ontstaat in het contact
      met het paard: <span class="fst-italic">rust, verbinding, communicatie en groei</span>.
    </p>
    <h4 class="text-primary mt-5">Van passie naar therapie</h4>
    <p>
      Mijn liefde voor paarden begon al op jonge leeftijd. Ik ben al meer dan 28
      jaar actief in de paardensport en heb doorheen de jaren een sterke band
      opgebouwd met paarden en hun gedrag.
    </p>
    <p>
      Die ervaring neem ik vandaag mee in mijn werk als therapeut. Paarden zijn
      bijzonder gevoelig voor lichaamstaal, spanning en intentie. Net dat maakt
      hen zo waardevol in het werken met kinderen, vooral met kinderen die
      andere ontwikkelingsnoden hebben.
    </p>
    <brand-image imgSrc="assets/images/hippo-foto.jpg" color="secondary" class="col-10 col-sm-6 mx-auto my-5"></brand-image>
    <h4 class="text-primary">
      Waarom hippotherapie bij kinderen?
    </h4>
    <p>
      Sommige kinderen ervaren de wereld op hun eigen manier. Ze hebben
      soms nood aan:
    </p>
    <ul>
      <li>Andere vormen van communicatie</li>
      <li>Meer visuele of ervaringsgerichte ondersteuning</li>
      <li>Hulp bij het reguleren van emoties en prikkels</li>
    </ul>
    <p>Het contact met een paard:</p>
    <ul>
      <li>Verlaagt de druk op verbale communicatie</li>
      <li>Nodigt uit tot echte, gedeelde interactie</li>
      <li>Biedt directe en eerlijke feedback</li>
      <li>Werkt vaak kalmerend en regulerend</li>
    </ul>
    <p>
      Zo ontstaat er ruimte om vaardigheden te ontwikkelen op een manier die
      aansluit bij het kind.
    </p>
    <brand-image imgSrc="assets/images/hippo-foto4.jpg" color="dark" class="col-10 col-sm-6 mx-auto my-5"></brand-image>
    <h4 class="text-primary">Mijn aanpak</h4>
    <p>
      In de hippotherapie werk ik steeds op maat van het kind. Dit kan zowel
      naast het paard als op het paard gebeuren, afhankelijk van de noden en
      doelen.
    </p>
    <p>Mogelijke focusgebieden zijn:</p>
    <ul>
      <li>Stimuleren van communicatieve initiatieven</li>
      <li>Versterken van gedeelde aandacht en interactie</li>
      <li>Ondersteunen van emotieregulatie</li>
      <li>Opbouwen van zelfvertrouwen en veiligheid</li>
    </ul>
    <p>Mijn achtergrond als therapeut blijft hierbij steeds de basis.</p>
    <brand-image imgSrc="assets/images/hippo-foto3.jpg" color="warning" class="col-10 col-sm-6 mx-auto my-5"></brand-image>
    <h4 class="text-primary">Multidisciplinaire visie</h4>
    <p>
      Naast mijn zelfstandige praktijk werk ik als logopedist in <span class="fst-italic">Carrewiel</span>, waar
      ik dagelijks kinderen begeleid met uiteenlopende ontwikkelingsstoornissen
      binnen een multidisciplinair team.
    </p>
    <p>
      Deze samenwerking met andere disciplines heeft mijn blik verruimd en mijn
      overtuiging versterkt dat we kinderen het best ondersteunen vanuit een
      holistische visie: kijken naar het kind als geheel, met aandacht voor
      zowel communicatie, gedrag, emoties als omgeving.
    </p>
    <p>Die visie neem ik ook mee in mijn hippotherapie.</p>
    <brand-image imgSrc="assets/images/hippo-foto2.jpg" color="primary" class="col-10 col-sm-6 mx-auto my-5"></brand-image>
    <h4 class="text-primary">Interesse?</h4>
    <p>
      Ben je benieuwd of hippotherapie iets kan betekenen voor jouw kind? Of wil
      je graag samen bekijken welke aanpak het best aansluit bij jullie
      hulpvraag?
    </p>
    <p>
      Je bent altijd welkom om vrijblijvend contact op te nemen via het
      <a href="contact" class="link-underline link-underline-opacity-0">contactformulier</a>. Samen bekijken we wat jouw kind nodig heeft en hoe ik
      jullie hierin kan ondersteunen.
    </p>
  </div>
</div>
