<div class="content my-5">
  <h1 class="text-center mb-5">Contact</h1>
  <div class="row mx-5">
    <div class="d-none d-md-flex flex-column gap-3 col-md-6">
      <div class="dotted-line-background d-flex flex-column gap-3">
        <h5>Logopedie Elien Segers</h5>
        <span>
          <i class="bi bi-geo-alt-fill text-primary"></i><a class="ms-2 link-underline link-underline-opacity-0 text-dark" href="https://maps.google.com/?q=Bergen+38" target="_blank">Bergen 38, 2370 Arendonk</a>
        </span>
        <span>
          <i class="bi bi-phone-fill text-primary"></i><a class="ms-2 link-underline link-underline-opacity-0 text-dark" href="tel:+32470710392">+32 470 71 03 92</a>
        </span>
        <span>
          <i class="bi bi-envelope-fill text-primary"></i><a class="ms-2 link-underline link-underline-opacity-0 text-dark" href="mailto:logopedie.eliensegers@gmail.com">logopedie.eliensegers@gmail.com</a>
        </span>
      </div>
      <hr/>
      <div class="row h-100">
        <div class="col-12 col-xl-6">
          <h5>Behandelingen</h5>
          <div *ngFor="let treatment of treatments; index as i">
            <i class="bi bi-caret-right-fill" [ngClass]="i % 2 == 0 ? 'text-primary' : 'text-dark'"></i><span class="ms-2">{{treatment}}</span>
          </div>
        </div>
        <div class="d-none d-xl-block col-6">
          <img class="img-fluid rounded-5 border border-5 border-warning" src="assets/images/IMG_1565_1080.jpg">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bg-info p-4">
        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" *ngIf="myFormState == formState.init || myFormState == formState.loading">
          <div class="mb-3">
            <label for="firstname" class="form-label">Voornaam</label><span class="text-danger"> *</span>
            <input type="text" class="form-control" [ngClass]="{ 'border-danger border-2' : fieldHasError('firstname') }" id="firstname" formControlName="firstname">
            <label for="firstname" class="form-label text-danger" *ngIf="fieldHasError('firstname')">Dit veld is verplicht</label>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Naam</label><span class="text-danger"> *</span>
            <input type="text" class="form-control" [ngClass]="{ 'border-danger border-2' : fieldHasError('name') }" id="name" formControlName="name">
            <label for="name" class="form-label text-danger" *ngIf="fieldHasError('name')">Dit veld is verplicht</label>
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">Straat + nr</label><span class="text-danger"> *</span>
            <input type="text" class="form-control" [ngClass]="{ 'border-danger border-2' : fieldHasError('street') }" id="street" formControlName="street">
            <label for="street" class="form-label text-danger" *ngIf="fieldHasError('street')">Dit veld is verplicht</label>
          </div>
          <div class="mb-3">
            <label for="postcode" class="form-label">Postcode + gemeente</label><span class="text-danger"> *</span>
            <input type="text" class="form-control" [ngClass]="{ 'border-danger border-2' : fieldHasError('postcode') }" id="postcode" formControlName="postcode">
            <label for="postcode" class="form-label text-danger" *ngIf="fieldHasError('postcode')">Dit veld is verplicht</label>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label><span class="text-danger"> *</span>
            <input type="email" class="form-control" [ngClass]="{ 'border-danger border-2' : fieldHasError('email') }" id="email" formControlName="email">
            <label for="email" class="form-label text-danger" *ngIf="fieldHasSpecificError('email', 'required')">Dit veld is verplicht</label>
            <label for="email" class="form-label text-danger" *ngIf="!fieldHasSpecificError('email', 'required') && fieldHasSpecificError('email', 'email')">Moet een geldige e-mail zijn</label>
          </div>
          <div class="mb-3">
            <label for="telephone" class="form-label">Tel. / GSM</label><span class="text-danger"> *</span>
            <input type="text" class="form-control" [ngClass]="{ 'border-danger border-2' : fieldHasError('telephone') }" id="telephone" formControlName="telephone">
            <label for="telephone" class="form-label text-danger" *ngIf="fieldHasError('telephone')">Dit veld is verplicht</label>
          </div>
          <div class="mb-3">
            <label for="treatment" class="form-label">Ik wens meer te weten over:</label><span class="text-danger"> *</span>
            <select class="form-select" [ngClass]="{ 'border-danger border-2' : fieldHasError('treatment') }" id="treatment" formControlName="treatment">
              <option selected disabled>Kies een stoornis...</option>
              <option *ngFor="let treatment of treatments" [value]="treatment">{{treatment}}</option>
            </select>
            <label for="treatment" class="form-label text-danger" *ngIf="fieldHasError('treatment')">Dit veld is verplicht</label>
          </div>
          <div class="mb-3">
            <label for="extra" class="form-label">Vragen en/of opmerkingen</label><span class="text-danger"> *</span>
            <textarea class="form-control" [ngClass]="{ 'border-danger border-2' : fieldHasError('extra') }" id="extra" formControlName="extra" rows="4"></textarea>
            <label for="extra" class="form-label text-danger" *ngIf="fieldHasError('extra')">Dit veld is verplicht</label>
          </div>
          <input type="submit" class="btn btn-secondary" value="Verzenden" *ngIf="myFormState != formState.loading">
          <div class="spinner-border" role="status" *ngIf="myFormState == formState.loading">
            <span class="visually-hidden">Loading...</span>
          </div>
        </form>
        <div class="d-flex flex-column h-100" *ngIf="myFormState == formState.success">
          <h2 class="text-primary">Dankuwel!</h2>
          <p class="fs-5">Uw gegevens zijn correct doorgestuurd. Er zal zo snel mogelijk contact met u worden opgenomen om verdere stappen te zetten in uw ondersteuning.</p>
          <p>[Dit is een tijdelijk bericht. Het formulier is momenteel nog niet functioneel.]</p>
          <div class="flex-fill text-center">
            <i class="bi bi-check-circle display-1 text-primary"></i>
          </div>
        </div>
        <div class="d-flex flex-column h-100" *ngIf="myFormState == formState.firstError || myFormState == formState.secondError">
          <h2 class="text-primary">Oei!</h2>
          <p class="fs-5" [ngSwitch]="myFormState">
            <span *ngSwitchCase="formState.firstError">Uw gegevens konden niet correct worden doorgestuurd. Probeer het liefst later opnieuw of contacteer mij direct per e-mail of via mijn telefoon.</span>
            <span *ngSwitchCase="formState.secondError">
              Uw gegevens zijn goed doorgestuurd, maar er was een fout met het verzenden van de bevestigingsmail. Check a.u.b. of uw e-mailadres correct is ingevuld: <span class="fst-italic">{{this.contactForm.get('email')?.value}}</span>
            </span>
          </p>
          <div class="flex-fill text-center">
            <i class="bi bi-emoji-frown display-1"></i>
          </div>
        </div>
        <p *ngIf="myFormState == formState.firstError">

        </p>
        <p *ngIf="myFormState == formState.secondError">

        </p>
      </div>
    </div>
    <p class="d-block d-md-none text-center fs-2 mb-4 my-5">
      Contacteer me
    </p>
    <div class="d-flex justify-content-around d-md-none">
      <a class="text-dark link-underline link-underline-opacity-0 d-flex flex-column text-center" href="https://maps.google.com/?q=Bergen+38">
        <i class="bi bi-geo-alt-fill text-primary display-2"></i>
      </a>
      <a class="text-dark link-underline link-underline-opacity-0 d-flex flex-column text-center" href="tel:+32470710392">
        <i class="bi bi-phone-fill text-primary display-2"></i>
      </a>
      <a class="text-dark link-underline link-underline-opacity-0 d-flex flex-column text-center" href="mailto:logopedie.eliensegers@gmail.com">
        <i class="bi bi-envelope-fill text-primary display-2"></i>
      </a>
    </div>
    <p class="d-block d-md-none text-center fs-2 mb-3 mt-5">
      Behandelingen
    </p>
    <div class="d-block d-md-none">
      <div class="row">
        <div *ngFor="let treatment of treatments; index as i" class="col-12 gy-3">
          <i class="bi bi-circle-fill"></i><span class="fs-5 ps-2">{{treatment}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
