@import '../../variables';

/*.dotted-line-background{
  position: relative;
  overflow: clip;
}

.dotted-line-background::before{
  content: unset;
  @media (min-width: 1440px) {
    content: "";
  }
  width: 12rem;
  height: 12rem;
  position: absolute;
  right: -6rem;
  top: -6rem;
  border-radius: 50%;
  border-width: 0.5rem;
  border-style: dashed;
  z-index: -1;
  border-color: $warning;
}

.dotted-line-background::after{
  content: unset;
  @media (min-width: 1440px) {
    content: "";
  }
  width: 16rem;
  height: 12rem;
  position: absolute;
  left: 50%;
  bottom: -7rem;
  border-radius: 50%;
  border-width: 0.5rem;
  border-style: dashed;
  z-index: -1;
  border-color: $warning;
}*/

.contact-background{
  /*background-image: url('../../assets/images/IMG_1565_1080.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: darken;*/
}
