<treatment-info [treatmentInfo]="myTreatment">
  <p>
    De voorbije jaren verdiepte ik me intensief in preverbale logopedie en
    volgde ik hiervoor een opleiding aan de Arteveldehogeschool in Gent.
    <span class="text-warning-drk">Prelogopedie</span> is een specifieke tak binnen de logopedie die jonge kinderen
    behandelt met <span class="text-warning-drk">voedings- en/of mondmotorische problemen</span>, maar ook met problemen
    zoals een <a class="link-underline link-underline-opacity-0" href="behandelingen/info/taal">vertraagde taal-</a> en <a class="link-underline link-underline-opacity-0" href="behandelingen/info/spraak">spraakontwikkeling</a>.
  </p>
  <p>
    Eten en drinken lijkt vanzelfsprekend, maar dat is het niet voor elk kind.
    In de preverbale fase help ik baby’s en peuters die moeilijkheden ervaren
    met borst- of flesvoeding, de overgang naar vaste voeding, lepelvoeding of
    kauwen. Soms ligt er een medische of neurologische oorzaak aan de basis. In
    de begeleiding staat het kind centraal: we zoeken samen met de ouders naar
    haalbare en warme oplossingen, zonder druk of dwang. Ook bij <span class="text-warning-drk">selectief eten</span>,
    een <span class="text-warning-drk">beperkte variatie</span> in voeding of <span class="text-warning-drk">hardnekkige voedingsproblemen</span> denk ik
    graag mee.
  </p>
  <p>
    Daarnaast heb ik een bijzondere interesse in specifieke eetproblemen bij
    kinderen met autisme en ARFID. Samen kijken we naar wat jouw kind nodig
    heeft om eten en drinken opnieuw veilig, voorspelbaar, aangenaam en haalbaar
    te maken.
  </p>
</treatment-info>
