<div class="content p-5">
  <h1 class="my-5" id="tarieven">Tarieven</h1>
  <div class="d-flex justify-content-center">
    <table class="table text-primary">
      <thead>
        <tr class="table-primary">
          <th colspan="2" class="text-dark">Onderzoekfase</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Intakegesprek</td>
          <td>€60 (+/- 45min)</td>
        </tr>
        <tr>
          <td>Onderzoek</td>
          <td>€45 per begonnen half uur</td>
        </tr>
        <tr>
          <td>Bespreken resultaten en behandelplan</td>
          <td>€60 (+/- 45min)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
