@import '../styles.scss';

.desktop-menu {
  position: absolute;
}

.bg-menu
{
  background: #FFFCF8;
  background: linear-gradient(180deg, $light 50%, $info 100%);
}

.menu{
  border-bottom: $dark 2px solid;
}
