@import '../styles.scss';

.desktop-menu {
  position: absolute;
}

.bg-menu
{
  background: #FFFCF8;
  background: linear-gradient(180deg, rgba(255, 252, 248, 1) 50%, rgba(250, 219, 205, 1) 100%);
}

.menu{
  border-bottom: $dark 2px solid;
}
