<div class="content p-5 responsive-width mx-auto">
  <div class="d-block d-md-none w-75 mx-auto mb-5">
    <brand-image [imgSrc]="treatmentInfo.images[0].imageLink" [color]="treatmentInfo.images[0].imageColor"></brand-image>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-7 d-flex flex-column gap-2">
      <h2 class="text-primary">{{treatmentInfo.title}}</h2>
      <ng-content/>
    </div>
    <div class="d-none d-md-block col-6 col-xl-5 col-xxl-4 mx-auto">
      <div class="d-flex flex-column h-100 justify-content-around">
        <div *ngFor="let image of treatmentInfo.images">
          <brand-image [imgSrc]="image.imageLink" [color]="image.imageColor"></brand-image>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-md-none w-75 mx-auto mt-5" *ngIf="treatmentInfo.images.length > 1">
    <brand-image [imgSrc]="treatmentInfo.images[1].imageLink" [color]="treatmentInfo.images[1].imageColor"></brand-image>
  </div>
</div>
