<div class="content mx-auto py-5" id="behandelingen">
  <div class="d-flex flex-column align-items-center gap-5">
    <div class="d-flex align-items-center w-75" *ngFor="let offer of offers; even as e" [ngClass]="{'flex-row-reverse' : e}">
      <div class="col-5">
        <brand-image [imgSrc]="offer.img" [color]="offer.color"></brand-image>
      </div>
      <div class="col-7">
        <p class="fw-bold">{{offer.title}}</p>
        <p>{{offer.text}}</p>
        <a href="/" class="btn" [ngClass]="'btn-' + offer.color">Meer info</a>
      </div>
    </div>
  </div>
</div>
