<div class="content mx-auto py-5" id="behandelingen">
  <div class="d-flex flex-column align-items-center gap-5">
    <div class="row align-items-center w-75" *ngFor="let offer of offers; even as e; index as i">
      <div class="col-12 col-md-6 col-lg-5" [ngClass]="{'order-md-1' : e}">
        <brand-image [imgSrc]="offer.img" [color]="offer.color"></brand-image>
      </div>
      <div class="col-12 col-md-6 col-lg-7">
        <h3 [ngClass]="'text-' + offer.color">{{offer.title}}</h3>
        <p class="bg-primary-subtle p-3 rounded">{{offer.text}}</p>
        <a [href]="'behandelingen/info/' + (i+1)" class="btn" [ngClass]="'btn-' + offer.color">Meer info</a>
      </div>
    </div>
  </div>
</div>
