$primary: #D17050;
$secondary: #F5BA9D;
$warning: #cce4e6;
$dark: #BD9793;
$light: #fff6eb;//#FFFCF8;
$info: #FADBCD;

$body-color: $dark;
$body-bg: $light;
$table-color: $dark;

$headings-font-family: 'Noteworthy';
$font-family-base: 'Montserrat';
