@import '../../variables';

.home-intro{
  clip-path: ellipse(100% 100% at 5% 0%);
  height: 16rem;
  background-image: url('../../assets/images/IMG_1560_1080.jpg');
  background-position: top;
  background-size: cover;
  opacity: 90%;
  @media (min-width: 768px) {
    height: 22rem;
  }
}

.welcome-intro
{
  width: 100%;
  @media (min-width: 1200px) {
    width: 75%;
  }
  @media (min-width: 1400px) {
    width: 60%;
  }

  &::before{
    @media (min-width: 1200px) {
      content: "";
      width: 12rem;
      height: 8rem;
      background-image: url('../../assets/images/icons/WEBSITE_prenten_bloem3.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 52rem;
    }
  }

  &::after{
    @media (min-width: 1200px) {
      content: "";
      width: 12rem;
      height: 8rem;
      background-image: url('../../assets/images/icons/WEBSITE_prenten_bloem2.svg');
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      position: absolute;
      right: 4rem;
      top: 35rem;
    }
  }
}

.poster-fluid{
  width: 75%;
  @media (min-width: 576px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 992px) {
    width: 40%;
  }
  @media (min-width: 992px) {
    width: 30%;
  }
  @media (min-width: 1400px) {
    width: 25%;
  }
}

.treatment-part{
  position: relative;
  overflow: hidden;
  @media (min-width: 992px) {
    &::before
    {
      content: "";
      position: absolute;
      width: 60rem;
      height: 48rem;
      border-color: $secondary;
      border-width: 0.5rem;
      border-style: dashed;
      border-radius: 50%;
      bottom: -24rem;
      left: -30rem;
    }

    &::after
    {
      content: "";
      position: absolute;
      width: 45rem;
      height: 36rem;
      border-color: $secondary;
      border-width: 0.5rem;
      border-style: dashed;
      border-radius: 50%;
      top: -18rem;
      right: -25rem;
    }
  }
}
