.home-intro{
  clip-path: ellipse(100% 100% at 5% 0%);
  height: 16rem;
  background-image: url('../../assets/images/IMG_1560_1080.jpg');
  background-position: top;
  background-size: cover;
  opacity: 90%;
  @media (min-width: 768px) {
    height: 22rem;
  }
}

.welcome-intro
{
  width: 100%;
  @media (min-width: 1200px) {
    width: 75%;
  }
  @media (min-width: 1400px) {
    width: 60%;
  }
}

.poster-fluid{
  width: 75%;
  @media (min-width: 576px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 992px) {
    width: 40%;
  }
  @media (min-width: 992px) {
    width: 30%;
  }
  @media (min-width: 1400px) {
    width: 25%;
  }
}
