<div class="content d-flex flex-column m-auto gap-5 mb-5">
  <div class="home-intro align-items-center d-flex">
    <!--<h2 class="text-dark text-shadow ms-5">Logopedie Elien Segers</h2>-->
  </div>
  <div class="row mx-auto w-xl-60 gy-5 px-5">
    <div class="col-12 col-md-6 col-lg-7 order-2 order-md-1">
      <h1 class="text-primary">Logopedie Elien Segers</h1>
      <p>Ik ben logopediste, gespecialiseerd in <span class="text-secondary">stotteren</span>, <span class="text-secondary">preverbale logopedie</span> en <span class="text-secondary">taal- en spraakontwikkeling</span>. Vanuit een wetenschappelijk onderbouwde en doelgerichte aanpak begeleid ik kinderen, jongeren en hun omgeving, met oog voor hun talenten. Mijn bijzondere expertise ligt in het gedragsmatige aspect van stotteren en de invloed van ontwikkelingsstoornissen op sociale interactie, communicatie en de verdere taalontwikkeling.</p>
      <p>Samen creëren we een veilige omgeving waarin communicatie kan groeien.</p>
      <a href="practisch" class="btn btn-primary">Lees meer</a>
    </div>
    <div class="col-12 col-md-6 col-lg-5 order-1 order-md-2">
      <brand-image imgSrc="assets/images/IMG_1569_1080.jpg" color="primary"></brand-image>
    </div>
  </div>
  <div class="text-center bg-info p-4">
    <h1 class="mb-5">Behandelingen</h1>
    <div class="row w-100 row-gap-4">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mb-3">
          <brand-image imgSrc="assets/images/IMG_1576_1080.jpg" color="primary"></brand-image>
        </div>
        <p class="text-primary text-shadow fw-bold fs-3">Stotteren</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mb-3">
          <brand-image imgSrc="assets/images/IMG_1617_1080.jpg" color="dark"></brand-image>
        </div>
        <p class="text-dark text-shadow fw-bold fs-3">Preverbale logopedie</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mb-3">
          <brand-image imgSrc="assets/images/IMG_1436_1080.jpg" color="warning"></brand-image>
        </div>
        <p class="text-warning text-shadow fw-bold fs-3">Spraakontwikkeling en afwijkende mondgewoonten</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mb-3">
          <brand-image imgSrc="assets/images/IMG_1600_1080.jpg" color="primary"></brand-image>
        </div>
        <p class="text-primary text-shadow fw-bold fs-3">Taalontwikkeling en taalstoornis</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mb-3">
          <brand-image imgSrc="assets/images/IMG_1448_1080.jpg" color="warning"></brand-image>
        </div>
        <p class="text-warning text-shadow fw-bold fs-3">Leerstoornissen en leerproblemen</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mb-3">
          <brand-image imgSrc="assets/images/IMG_1470_1080.jpg" color="dark"></brand-image>
        </div>
        <p class="text-dark text-shadow fw-bold fs-3">IMPACT-training</p>
      </div>
    </div>
  </div>
  <div class="d-inline-flex flex-column align-items-center align-items-lg-start py-3 px-5">
    <h2 class="mb-5">Stappenplan</h2>
    <!--desktop-->
    <div class="d-none d-lg-flex flex-row justify-content-between">
      <div *ngFor="let step of steps; index as i; last as l" class="d-flex">
        <div class="d-flex flex-column text-center">
          <span>STAP {{i+1}}</span>
          <span class="text-primary mb-3">{{step.title}}</span>
          <span class="text-center">{{step.text}}</span>
        </div>
        <i class="bi bi-caret-right-fill text-primary ms-2 me-3 fs-3 align-self-center" *ngIf="!l"></i>
      </div>
    </div>
    <!--mobile-->
    <div class="d-flex d-lg-none flex-column align-items-center">
      <div *ngFor="let step of steps; index as i; last as l" class="w-75">
        <div class="d-flex flex-column text-center">
          <span>STAP {{i+1}}</span>
          <span class="text-primary mb-3">{{step.title}}</span>
          <span class="text-start">{{step.text}}</span>
          <i class="bi bi-caret-down-fill text-primary my-3 fs-3" *ngIf="!l"></i>
        </div>
      </div>
    </div>
    <a href="practical" class="btn btn-primary mt-5">Lees meer</a>
  </div>
</div>
